* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    line-height: 5rem;
}

.choices {
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
    justify-content: center;

}
.choice {
    height: 211px;
    width: 211px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 4rem;
}

.score p {
    font-size: 2rem;
}

.comment{
    margin-top: 4rem;
    margin-left: 40%;
}

#message {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }